:root {
  --color-linkedin: rgb(0, 114, 177);
  --color-github: rgb(121, 0, 121);
  --color-leetcode: rgb(254, 164, 29);
  --color-youtube: rgb(254, 0, 0);
  --color-leetcode: #f9c74f;
  --color-pdf: #ea4335;
  --color-primary: blue;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f3f3f3;
}

/* For tablets */
@media (max-width: 768px) {
  .tablet-hidden {
    display: none;
  }
}

/* For phones */
@media (max-width: 480px) {
  p, li {
    font-size: 0.9rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.125rem;
  }
  h4 {
    font-size: 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  color: black;
  line-height: 1.2;
  margin-bottom: 16px;
}

.profile h2,
h3,
h4 {
  margin-bottom: 0 !important;
}

.section-halves {
  display: flex;
  flex-direction: row;
  gap: 4vh;
  padding: 4vh 4vw;
}

/* For tablets */
@media (max-width: 768px) {
  .section-halves {
    flex-direction: column;
  }
}

.section-half-left {
  flex: 1 1 calc(35% - 20px);
}
.section-half-right {
  flex: 1 1 calc(65% - 20px);
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  opacity: 0.5;
  margin: 20px 0;
  width: 90%;
  margin: 0 auto;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 4px;
  color: white;
  margin-top: 8px;
}

.tag {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  padding: 2px 10px;
  font-size: 0.85rem;
  font-weight: 400;
}

/* Icons */
.linklist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 12px;
}
.linklist a {
  text-decoration: none;
  color: #333;
  font-size: 2rem;
}
.linklist a:hover {
  animation: spinIcon 1.5s infinite;
  transition: color 0.5s ease;
}
.linklist a:visited {
  color: #333;
}
@keyframes spinIcon {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.linklist .linkedin:hover {
  color: var(--color-linkedin);
}
.linklist .github:hover {
  color: var(--color-github);
}
.linklist .youtube:hover {
  color: var(--color-youtube);
}
.linklist .pdf:hover {
  color: var(--color-pdf);
}
.linklist .leetcode:hover {
  color: var(--color-leetcode);
}
.linklist .primary:hover {
  color: var(--color-primary);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.navbar-items {
  display: flex;
  margin: 0 auto;
  gap: 4vw;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  margin-left: auto;
}

/* Mobile styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    z-index: 1000;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;
  }

  /* Show menu when active */
  .navbar-items.active {
    transform: translateY(0);
    max-height: 500px;
    opacity: 1;
    box-shadow: 0 12px 8px -2px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

/* About me */
.profile {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  position: sticky;
  top: 2vh;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.profile-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.5);
}

/* For phones */
@media (max-width: 480px) {
  .profile-cover {
    height: 160px;
  }
}

.profile-image {
  width: 128px;
  height: auto;
  border-radius: 50%;
  margin-top: -96px;
  margin-left: 16px;
  border: 4px solid white;
}

.profile-info {
  padding: 20px;
  padding-top: 0;
}

.profile-email {
  color: grey;
}

.profile-description {
  margin-top: 16px;
}

.profile-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.profile-button-resume {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(7deg);
  }
  10% {
    transform: rotate(-7deg);
  }
  15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.profile-button-resume:hover {
  cursor: pointer;
  transition: all 0.25s ease;
  animation: 3s wiggle infinite;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6);
}

.profile-button-resume:visited {
  color: white;
  text-decoration: none;
}

/* Experience */
.experience-list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.experience {
  padding: 20px;
}

.experience-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-title-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-title-right {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 8px;
  font-weight: 600;
  color: grey;
}

.experience-title img {
  height: 56px;
  border-radius: 8px;
}

/* Education */
.education-list {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.education {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.education-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.education-title-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-title-right {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 8px;
  font-weight: 600;
  color: grey;
}

.education-title img {
  height: 56px;
  border-radius: 8px;
}

.education-description {
  margin-top: 8px;
}

/* Certifications */
.certification-list {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.certification {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.certification-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.certification-title-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.certification-title-right {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 8px;
  font-weight: 600;
  color: grey;
}

.certification-title img {
  height: 56px;
  border-radius: 8px;
}

.certification-description {
  margin-top: 8px;
}

.date {
  color: grey;
  font-size: 0.8rem;
}

.responsibilities {
  margin-top: 8px;
  margin-left: 16px;
}

/* Projects */
#section-projects {
  max-width: 1100px;
  padding: 0 4vw;
  margin: 0 auto;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.project {
  padding: 20px;
  flex: 1 1 calc(50% - 20px);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.project-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-title-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title-right {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 8px;
  font-weight: 600;
  color: grey;
}

.project-title img {
  height: 48px;
}

.project-description {
  margin-top: 8px;
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  justify-content: center;
  gap: 16px;
}

/* For tablets */
@media (max-width: 768px) {
  .project-images {
    gap: 16px;
  }
}

.project-images > * {
  height: 160px;
  width: 23.5%;
  box-sizing: border-box;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* For tablets */
@media (max-width: 1100px) {
  .project-images > * {
    width: 35%;
    height: 140px;
    box-sizing: border-box;
  }
}

/* For tablets */
@media (max-width: 768px) {
  .project-images > * {
    height: 100px;
    width: 30%;
  }
}

/* For phones */
@media (max-width: 480px) {
  .project-images > * {
    width: 45%;
  }
}

.project-images .button-expand {
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

.project-images .button-expand:hover {
  cursor: pointer;
  background-color: grey;
}

.project-links {
  margin-top: 32px;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  font-size: 14px;
  color: #777;
}
